@use "../common.scss" as *;
@use "../variables" as *;

.country-wrapper-ex {
    display: flex;
    align-items: flex-start;
    border-radius: 3px;
    max-width: 100%;
    & .country-flag {
        width: 40%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        & img {
            box-shadow: $chosen-shadow;
        }
    }
    & .country-info-wrapper {
        width: 60%;
        font-weight: $weight-bold;
        & .country-title {
            font-weight: $weight-bold;
            font-size: 1.2rem;
            margin-bottom: 0.5em;
        }
        & .country-details {
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
        }
        & .country-border-c {
            margin-top: 4rem;
            display: flex;
            align-items: center;
            & .borders-label {
                text-wrap: nowrap;
                width: 20%;
            }
            & .borders {
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                row-gap: 1rem;
                & a {
                    text-decoration: none;
                    color: inherit;
                    & :hover {
                        font-weight: bold;
                        border: 1px solid rgba(0, 0, 0, 0.389);
                    }
                }
                & .border-c {
                    margin-left: 0.75rem;
                    padding: 4px 24px;
                    box-shadow: $chosen-shadow;
                    border: 1px solid rgba(0, 0, 0, 0.091);
                    border-radius: 5px;
                }
            }
        }
        & span {
            font-weight: 400;
        }
    }
}
