@use "../common.scss" as *;
@use "../variables" as *;

.country-wrapper-ex {
    display: flex;
    align-items: flex-start;
    border-radius: 3px;
    max-width: 100%;
    & .country-flag {
        width: 52%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        & img {
            width: 82%;
            box-shadow: $chosen-shadow;
        }
    }
    & .country-info-wrapper {
        width: 48%;
        font-weight: $weight-bold;
        & .country-title {
            font-weight: $weight-bold;
            font-size: 1.5rem;
            margin-bottom: 0.5em;
        }
        & .country-details {
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
        }
        & .country-border-c {
            margin-top: 4rem;
            display: flex;
            align-items: flex-start;
            gap: 1rem;
            & .borders-label {
                text-wrap: nowrap;
                width: 20%;
            }
            & .borders {
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                row-gap: 1rem;
                & a {
                    text-decoration: none;
                    color: inherit;
                    & :hover {
                        font-weight: bold;
                        border: 1px solid rgba(0, 0, 0, 0.389);
                    }
                }
                & .border-c {
                    margin-left: 0.75rem;
                    padding: 4px 24px;
                    box-shadow: $chosen-shadow;
                    border: 1px solid rgba(0, 0, 0, 0.091);
                    border-radius: 5px;
                }
            }
        }
        & span {
            font-weight: 400;
        }
    }
}

@media only screen and (max-width: $desktop-sm) {
    .country-wrapper-ex,
    .country-details {
        flex-direction: column;
    }

    .country-wrapper-ex {
        & .country-info-wrapper {
            width: 100%;
        }
        .country-flag {
            width: 100%;
            & img {
                width: 100%;
                box-shadow: $chosen-shadow;
            }
        }
    }

    .country-details > div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .country-details span {
        font-weight: 400;
    }

    .country-title {
        padding: 2rem 0 0.3rem 0;
    }

    .country-border-c {
        gap: 1.5rem;
        align-items: flex-start;
        flex-direction: column;
        & .borders-label {
            width: 100% !important;
            text-align: left;
        }
    }

    .borders {
        gap: 0.5rem;
        width: 100% !important;
        & span {
            margin-left: 0 !important;
        }
    }
}
