@use "../common.scss" as *;
@use "../variables" as *;

.search-filter-wrapper {
  margin: 2em 0;
  display: flex;
  justify-content: space-between;
  & .search-wrapper {
    background-color: $chosen-white;
    padding: 0.75em 1.5em;
    border-radius: 3px;
    box-shadow: $chosen-shadow;
    display: flex;
    align-items: center;
    gap: 1em;
    & input {
      border: none;
      width: 23vw;
      &::-webkit-search-cancel-button {
        padding: 1px;
        cursor: pointer;
      }
      &:focus {
        border: none;
        outline: none;
        background-color: transparent;
      }
    }
  }
  & .filter-wrapper {
    background-color: $chosen-white;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    & select {
      padding: 0.75em;
      cursor: pointer;
      border: none;
      & * {
        font: inherit;
        color: $very-dark-blue-txt;
      }
      &:focus-visible {
        outline: none;
      }
    }
  }
}
