@use "./variables" as *;
@use "./base" as *;

main {
  padding: 0 3rem;
  margin: 0 auto;
}

.dark {
  background-color: $very-dark-blue-bck;
  color: $chosen-white;
}

.dark-lighter {
  background-color: $dark-blue !important;
  color: $chosen-white !important;
}

.dark-shadow {
  box-shadow: $shadow-dark !important;
}

@media only screen and (max-width: $desktop-sm) {
  main {
    margin-bottom: 20px;
  }
}


@media only screen and (min-width: $desktop) {
 main {
      padding: $inner-width-wide
  }
}