@use "./variables" as *;
@use "./base" as *;

main {
  width: 90%;
  margin: 0 auto;
}

.dark {
  background-color: $very-dark-blue-bck;
  color: $chosen-white;
}

.dark-lighter {
  background-color: $dark-blue !important;
  color: $chosen-white !important;
}

.dark-shadow {
  box-shadow: $shadow-dark !important;
}
