@use "common";

header {
  color: common.$very-dark-blue-txt;
  font-size: common.$homepage-font-size;
  background-color: common.$chosen-white;
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 2px common.$dark-gray;

  & .main-title {
    font-weight: common.$weight-bolder;
    font-size: common.$homepage-font-size + 4px;
  }
  & button {
    color: common.$very-dark-blue-txt;
    font-family: "Nunito Sans", sans-serif;
    font-weight: common.$weight-bold;
    background-color: common.$chosen-white;
    padding: 0.5em;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.85em;
    &:hover {
      cursor: pointer;
      border-radius: 20px;
      background-color: common.$very-light-gray;
    }
  }
}
