@use "./common.scss" as *;

header {
  color: $very-dark-blue-txt;
  font-size: $homepage-font-size;
  background-color: $chosen-white;
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 2px $dark-gray;

  & .main-title {
    font-weight: $weight-bolder;
    font-size: $homepage-font-size + 4px;
  }
  & button {
    color: $very-dark-blue-txt;
    font-family: "Nunito Sans", sans-serif;
    font-weight: $weight-bold;
    background-color: $chosen-white;
    padding: 0.5em;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.85em;
    &:hover {
      cursor: pointer;
      border-radius: 20px;
      background-color: $very-light-gray;
    }
  }
}
