@use "./common.scss" as *;

.search-filter-wrapper {
  margin: 2em 0;
  display: flex;
  justify-content: space-between;
  & .search-wrapper {
    background: $chosen-white;
    padding: 0.75em 1.5em;
    border-radius: 3px;
    box-shadow: $chosen-shadow;
    display: flex;
    align-items: center;
    gap: 1em;
    & input {
      border: none;
      width: 23vw;
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
  & .filter-wrapper {
    background: $chosen-white;
    padding: 0.75em;
    border-radius: 3px;
    cursor: pointer;
    & select {
      cursor: pointer;
      border: none;
      & * {
        font: inherit;
        color: $very-dark-blue-txt;
      }
      &:focus-visible {
        outline: none;
      }
    }
  }
}
