@use "./common.scss" as *;

.country-wrapper {
  background-color: $chosen-white;
  box-shadow: $chosen-shadow;
  border-radius: 3px;
  max-width: 100%;
  max-height: 40vh;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  & .country-flag {
    width: 100%;
    padding-top: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  & .country-info-wrapper {
    padding: 2em;
    & .country-title {
      font-weight: $weight-bold;
      font-size: 1.2rem;
      margin-bottom: 0.5em;
    }
    font-weight: $weight-bold;
    & span {
      font-weight: initial;
    }
  }
}
